{{> menu-nav}}

<div class="container">
    <div class="container-fluid">
        <h1 class="mt-3 menu-heading">Menu</h1>
    </div>
    {{#each item}}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card mt-2 mx-2" style="width: 18rem;">
                    <img src={{foodImg}} class="card-img-top" alt="err">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{foodName}}</h5>
                        <div class="row">
                            <div class="col">
                                <a href="/menu/cart/{{_id}}" class="btn btn-dark">Add to cart</a>
                            </div>
                            <div class="col">
                                <h5 class="text-center">${{foodPrice}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="http://localhost:9000/uploads/fImg-1670823862936.jpg" class="card-img-top" alt="err">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{foodName}}</h5>
                        <div class="row">
                            <div class="col">
                                <a href="/menu/cart/{{_id}}" class="btn btn-dark">Add to cart</a>
                            </div>
                            <div class="col">
                                <h5 class="text-center">${{foodPrice}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src={{foodImg}} class="card-img-top" alt="err">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{foodName}}</h5>
                        <div class="row">
                            <div class="col">
                                <a href="/menu/cart/{{_id}}" class="btn btn-dark">Add to cart</a>
                            </div>
                            <div class="col">
                                <h5 class="text-center">${{foodPrice}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>