{{> menu-nav}}

<div class="wrapper">
    <div class="left">
        
        <h4>{{data.name}}</h4>
    </div>
    <div class="right">
        <div class="info">
            <h4>Account Information</h4>
            <div class="info_data">
                <div class="data">
                    <h5>Email ID</h5>
                    <p>{{data.email}}</p>
                </div>
                <div class="data">
                    <h5>Mobile No.</h5>
                    <p>{{data.phone}}</p>
                </div>
            </div>
        </div>
        <div class="projects">
            <h4>Delivery Address</h4>
            <div class="projects_data">
                <div class="data">
                    <h5>Location</h5>
                    <p>{{data.location}}</p>
                </div>
                <div class="data">
                    <h5>Address</h5>
                    <p>{{data.address}}</p>
                </div>
            </div>
        </div>
        <a href="/profile/editProfile/{{data._id}}" class="btn btn-primary">Edit</a>
        <a href="/profile/resetpasspage" class="btn btn-warning">Rest Password</a>
    </div>
</div>